@Html.Partial("MapPartial")
<link rel="stylesheet" href="~/Content/prj/sub/floodquery.css" />
<link rel="stylesheet" href="~/Content/prj/rthydro.css" />

@Html.Partial("_ArcgisMapPartial")
@Html.Partial("_ArcgisQpesums")

<script>
    $(document).ready(qpesum_forecast_60m);</script>
<div style="position: absolute; top: 70px; left: 30px; width: 270px; height: 180px; background: rgba(255,255,255,0.85); border-radius: 20px; padding: 15px;">
    <h5>預報資料類型：</h5>
    <h6 style="color: rgb(14 8 100); font-weight: 800;">QPESUMS一小時累積雨量</h6>
    <h5>預報資料時間：</h5>
    <h6 id="qpesum-datetime" style="color: rgb(14 8 100); font-weight: 800;"></h6>
</div>
<div style="position: absolute; top: 280px; left: 30px; width: 270px; height: calc(100vh - 520px); background: rgba(255,255,255,0.85); border-radius: 20px; padding: 20px;">
    <h5>雨量預報預警水位站：</h5>
    <hr />
    <div id="time-selections">
        @foreach (var s in ViewBag.stations)
        {
        <label title="公式：y = @(s.predict_mx.ToString().TrimEnd('0')) * 預報雨量 + @(s.predict_dy.ToString().TrimEnd('0'))">
            @s.stt_name (@(s.stt_no))
        </label>
        }
    </div>
</div>